body{
    font-family: arial;
    margin-left: 50px;
    margin-right: 50px;
}

.nav {
    display:flex;
    list-style-type: none ;
    text-align: center;
    padding:0;
    justify-content: center   
}
.nav li {  
    padding:20px;   
}

h3{
    color: white;
    font-size: small;
    background-color: black;
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 500px;
    border: 5px black initial;
    border-radius: 5px ;

}

.ingredients li {
    padding: 10px;
}
.recette li{
    padding: 20px;
}
a:hover{
    color: chartreuse;
}
a{
   text-decoration: none;
}
h3:hover{
    border: 2px solid rgb(185, 185, 185);
    color: rgb(143, 143, 143);
}
.nav li:hover{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: white;
}