body{
	font-family: serif;
	color:rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	padding-block: 30px 30px 30px;
}
h2{
	color: blue;
	Font-family: sans serif;
}

#ma-boutique{
	color:rgb(150, 150, 150);
	font-size: 40px;
	font-weight: bold;
	margin: 50px 250px 150px;
	padding: 50px ;
	display: /*inline-*/block;
}

span{
	color: blue;
	font-size: 15px;
	font-weight: bold;
}

.title{
	color: red;
	text-decoration: underline;
	font-size: 30px;
	font-weight: bold;
}

.gras{
	font-weight: 900;
	color: cyan;
}
.ps {
	text-decoration: underline;
}
#bText{
	background-color: darkcyan;
	color: white;
}
#bText strong {
	background-color: red;
}
/*
p{
	color:aqua;
}*/
#tc{
	text-decoration: overline darkgreen;
}










.h1tabl {
	text-decoration: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.p1, .h1tabl {
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}



.TJ {
color: rgb(0, 0, 0);
font-family: Arial, Helvetica, sans-serif;
}


table {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 60%;
    color:rgb(73, 72, 72);
	border: rgba(180, 177, 177, 0.568);
}
 
th
{
   background-color:rgb(230, 228, 228);
   border-bottom:2px solid rgb(182, 182, 182);
   font-size: 13px;
   text-align: center;
}
tr:nth-child(odd)
{
   background-color:rgb(255, 255, 255);
}
tr:nth-child(even)
{
   background-color:rgb(255, 255, 255)
}
td{
	text-align: center;
}
.td1{
	background-color:rgba(204, 204, 204, 0.767);
   	border-bottom:2px solid rgb(173, 171, 171);
   	font-size: 12px;
   	text-align: center;
	color: rgb(70, 70, 70);
}
.td2{
	color: rgb(77, 76, 76);
	font-size: 13px;
}


/*h1, h2 :hover ,p span {
	background-color: yellow;
	margin: 50px 50px 50px;

}
*/
.menu>li {
	display: inline-block;
	margin: 0 20px ;
}


#navbar {
	overflow: hidden;
	background-color: #333;
  }
  
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	margin-left: 25px;
  }
  
  
  .content {
	padding: 12px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px
}

/* Dropdown Button */
.dropbtn {
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #9c9c9c;}



  /*----------Pour le tuto-------*/

  /*Avec div class
.Tuto-01 {
	text-align: center;
	color: rgb(255, 0, 0);
	text-decoration: underline rgb(0, 0, 0);
}

Avec div id
#unique {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif ;
}

Point 1-
p{
	color: rgb(41, 39, 78);
	font-style: italic;
	font-size: 20px;
}

Point2-
.p1, .h1tabl {
	color: rgb(219, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
*/